.shopItemCard{
    display:flex;
    flex-direction:row;
    align-items:center;
    width: 80vw;
    height:160px;
    /* margin:20px; */
    border: 3px black solid;
    overflow:hidden;
    box-shadow: 0px 0px 15px 1px;
    background-color: #d6bef1;

}

.shopItemCard-Block1{
    display:flex;
    flex-direction:row;
    align-items:center;
    width: 1500px;
    height:160px;

}

.shopItemCard-Block2{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 270px;
    height:160px;

}

.shopItemCard-Block3{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-end;
    width: 100vw;
    height:160px;
    margin:0px 0px 0px 0px;

}

.shopItemCard-buttonBlock{
    display:flex;
}

.shopItemCard-button {
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0px;
    padding: 4px 9px;
  }

.shopItemCard-Name{
    /* margin:1rem; */
    margin-top:0.5rem;
    /* margin-bottom:0rem; */
    font-size:18px;
    font-weight:bold;

}

.shopItemCard-Pic img{
    overflow:hidden;
    height:150px;
    width:300px;
    /* object-fit:cover; */

}
