
.gameCard-button {
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 4px;
    padding: 4px 9px;
  }

  .gameCard-button:hover{
    background-color: rgba(98, 136, 165, 0.9);
  }

.gameCard-Name{
    /* margin:1rem; */
    margin-top:0.5rem;
    /* margin-bottom:0rem; */
    font-size:18px;
    font-weight:bold;

}



.gameCard-Pic img{
    overflow:hidden;
    height:90px;
    width:240px;
    object-fit:cover;

}



.gameCard{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 300px;
    height:210px;
    margin:20px;
    border: 3px black solid;
    overflow:hidden;
    box-shadow: 0px 0px 15px 1px;
    background-color: #d6bef1;

};
