.detailedSpot-button{
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 4px;
    padding: 4px 9px;
}


.detailedSpot-text-title{
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    }

.detailedSpot-text{
    margin:2px;
font-family: Arial, Helvetica, sans-serif;
}

.detailedSpot-buttonBlock{
    margin-top: 5px;
}

.detailedSpot-pic img{
    overflow:hidden;
    height:300px;
    width:500px;
    object-fit:cover;

}

.detailedSpot{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    /* align-items:center; */

    width: 700px;
    height:700px;
    margin:20px;
    overflow:hidden;
    background-color: #97cdcd;
    box-shadow: 10px 10px 15px black;
    border-radius: 10px;
}
