.WishItemPage-header{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.WishItemPage-title{
    color:white;
    font-size: 32px;
    margin: 10px 180px 40px 0px;
    /* text-decoration: underline; */
}

.WishItemPage-gameList{
    display:flex;
    flex-direction: column;
    margin: 5px;
}
