.WishItemPage-header{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.WishItemPage-title{
    color:white;
    font-size: 22px;
    margin: 10px 130px 0px 0px;
    text-decoration: underline;
}

.WishItemPage-gameList{
    display:flex;
    margin: 5px;
}
