
.APICard-button {
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 4px;
    padding: 4px 9px;
  }

.APICard-Name{
    margin-top:0.25rem;
    font-size:18px;
    font-weight:bold;
}



.APICard-Pic img{
    overflow:hidden;
    height:90px;
    width:240px;
    object-fit:cover;

}



.APICard{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 300px;
    height:160px;
    margin:20px;
    border: 3px black solid;
    overflow:hidden;
    box-shadow: 0px 0px 15px 1px;
    background-color: #d6bef1;

};
